*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-area{
    border-top: 5px solid #4274D7;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.log{
    float: left;
}
.main-menu{
    float: right;
}
.main-menu ul{

}
.main-menu ul li  {
    display: inline-block;
    margin-left: 40px;
}
.main-menu ul li a{
    color: #666666;
    font-size: 15px;
    padding: 50px 0;
    text-decoration: none;

}